@mixin overflow-ellipsis($type: ellipsis) {
  overflow: hidden;
  text-overflow: $type;
  white-space: nowrap;
}

@mixin d-flex($direction: row, $justify: flex-start, $align: stretch) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

// Typography

@mixin text-body-1() {
  font-family: var(--text-body-font-family);
  font-size: var(--text-body-1-font-size);
  font-weight: var(--text-body-font-weight);
  line-height: var(--text-body-1-line-height);
}

@mixin text-body-2() {
  font-family: var(--text-body-font-family);
  font-size: var(--text-body-2-font-size);
  font-weight: var(--text-body-font-weight);
  line-height: var(--text-body-2-line-height);
}

@mixin text-body-3() {
  font-family: var(--text-body-font-family);
  font-size: var(--text-body-3-font-size);
  font-weight: var(--text-body-font-weight);
  line-height: var(--text-body-3-line-height);
}

@mixin text-body-short() {
  font-family: var(--text-body-font-family);
  font-size: var(--text-body-short-font-size);
  font-weight: var(--text-body-font-weight);
  line-height: var(--text-body-short-line-height);
}

@mixin text-caption-1() {
  font-family: var(--text-caption-font-family);
  font-size: var(--text-caption-1-font-size);
  font-weight: var(--text-caption-font-weight);
  line-height: var(--text-caption-1-line-height);
}

@mixin text-caption-2() {
  font-family: var(--text-caption-font-family);
  font-size: var(--text-caption-2-font-size);
  font-weight: var(--text-caption-font-weight);
  line-height: var(--text-caption-2-line-height);
}

@mixin text-header-1() {
  font-family: var(--text-header-font-family);
  font-size: var(--text-header-1-font-size);
  font-weight: var(--text-header-font-weight);
  line-height: var(--text-header-1-line-height);
}

@mixin text-header-2() {
  font-family: var(--text-header-font-family);
  font-size: var(--text-header-2-font-size);
  font-weight: var(--text-header-font-weight);
  line-height: var(--text-header-2-line-height);
}

@mixin text-subheader-1() {
  font-family: var(--text-subheader-font-family);
  font-size: var(--text-subheader-1-font-size);
  font-weight: var(--text-subheader-font-weight);
  line-height: var(--text-subheader-1-line-height);
}

@mixin text-subheader-2() {
  font-family: var(--text-subheader-font-family);
  font-size: var(--text-subheader-2-font-size);
  font-weight: var(--text-subheader-font-weight);
  line-height: var(--text-subheader-2-line-height);
}

@mixin text-subheader-3() {
  font-family: var(--text-subheader-font-family);
  font-size: var(--text-subheader-3-font-size);
  font-weight: var(--text-subheader-font-weight);
  line-height: var(--text-subheader-3-line-height);
}

@mixin text-display-1() {
  font-family: var(--text-display-font-family);
  font-size: var(--text-display-1-font-size);
  font-weight: var(--text-display-font-weight);
  line-height: var(--text-display-1-line-height);
}

@mixin text-display-2() {
  font-family: var(--text-display-font-family);
  font-size: var(--text-display-2-font-size);
  font-weight: var(--text-display-font-weight);
  line-height: var(--text-display-2-line-height);
}

@mixin text-display-3() {
  font-family: var(--text-display-font-family);
  font-size: var(--text-display-3-font-size);
  font-weight: var(--text-display-font-weight);
  line-height: var(--text-display-3-line-height);
}

@mixin text-display-4() {
  font-family: var(--text-display-font-family);
  font-size: var(--text-display-4-font-size);
  font-weight: var(--text-display-font-weight);
  line-height: var(--text-display-4-line-height);
}

@mixin text-accent() {
  font-weight: var(--text-accent-font-weight);
}
