@font-face {
  font-family: 'Inter';
  src: url('@/shared/assets/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Sixty-four';
  src: url('@/shared/assets/fonts/Sixtyfour.ttf');
}

@mixin variables {
  --font-family-sans: 'Inter', 'Helvetica', 'Arial', sans-serif;
  --font-family-logo: 'Sixty-four', sans-serif;

  --text-body-font-family: var(--font-family-sans);
  --text-caption-font-family: var(--font-family-sans);
  --text-header-font-family: var(--font-family-sans);
  --text-subheader-font-family: var(--font-family-sans);
  --text-display-font-family: var(--font-family-logo);

  --text-body-font-weight: 400;
  --text-caption-font-weight: 400;
  --text-header-font-weight: 600;
  --text-subheader-font-weight: 600;
  --text-display-font-weight: 600;
  --text-accent-font-weight: 600;
  --text-body-1-font-size: 13px;
  --text-body-1-line-height: 18px;
  --text-body-2-font-size: 15px;
  --text-body-2-line-height: 20px;
  --text-body-3-font-size: 17px;
  --text-body-3-line-height: 24px;
  --text-body-short-font-size: 13px;
  --text-body-short-line-height: 16px;
  --text-caption-1-font-size: 9px;
  --text-caption-1-line-height: 12px;
  --text-caption-2-font-size: 11px;
  --text-caption-2-line-height: 16px;
  --text-header-1-font-size: 20px;
  --text-header-1-line-height: 24px;
  --text-header-2-font-size: 24px;
  --text-header-2-line-height: 28px;
  --text-subheader-1-font-size: 13px;
  --text-subheader-1-line-height: 18px;
  --text-subheader-2-font-size: 15px;
  --text-subheader-2-line-height: 20px;
  --text-subheader-3-font-size: 17px;
  --text-subheader-3-line-height: 24px;
  --text-display-1-font-size: 28px;
  --text-display-1-line-height: 36px;
  --text-display-2-font-size: 32px;
  --text-display-2-line-height: 40px;
  --text-display-3-font-size: 40px;
  --text-display-3-line-height: 48px;
  --text-display-4-font-size: 48px;
  --text-display-4-line-height: 52px;

  --text-body-1-font: var(--text-body-font-weight) var(--text-body-1-font-size) / var(--text-body-1-line-height)
    var(--text-body-font-family);
  --text-body-2-font: var(--text-body-font-weight) var(--text-body-2-font-size) / var(--text-body-2-line-height)
    var(--text-body-font-family);
  --text-body-3-font: var(--text-body-font-weight) var(--text-body-3-font-size) / var(--text-body-3-line-height)
    var(--text-body-font-family);
  --text-body-short-font: var(--text-body-font-weight) var(--text-body-short-font-size) /
    var(--text-body-short-line-height) var(--text-body-font-family);
  --text-caption-1-font: var(--text-caption-font-weight) var(--text-caption-1-font-size) /
    var(--text-caption-1-line-height) var(--text-caption-font-family);
  --text-caption-2-font: var(--text-caption-font-weight) var(--text-caption-2-font-size) /
    var(--text-caption-2-line-height) var(--text-caption-font-family);
  --text-header-1-font: var(--text-header-font-weight) var(--text-header-1-font-size) / var(--text-header-1-line-height)
    var(--text-header-font-family);
  --text-header-2-font: var(--text-header-font-weight) var(--text-header-2-font-size) / var(--text-header-2-line-height)
    var(--text-header-font-family);
  --text-subheader-1-font: var(--text-subheader-font-weight) var(--text-subheader-1-font-size) /
    var(--text-subheader-1-line-height) var(--text-subheader-font-family);
  --text-subheader-2-font: var(--text-subheader-font-weight) var(--text-subheader-2-font-size) /
    var(--text-subheader-2-line-height) var(--text-subheader-font-family);
  --text-subheader-3-font: var(--text-subheader-font-weight) var(--text-subheader-3-font-size) /
    var(--text-subheader-3-line-height) var(--text-subheader-font-family);
  --text-display-1-font: var(--text-display-font-weight) var(--text-display-1-font-size) /
    var(--text-display-1-line-height) var(--text-display-font-family);
  --text-display-2-font: var(--text-display-font-weight) var(--text-display-2-font-size) /
    var(--text-display-2-line-height) var(--text-display-font-family);
  --text-display-3-font: var(--text-display-font-weight) var(--text-display-3-font-size) /
    var(--text-display-3-line-height) var(--text-display-font-family);
  --text-display-4-font: var(--text-display-font-weight) var(--text-display-4-font-size) /
    var(--text-display-4-line-height) var(--text-display-font-family);

  font-family: var(--text-body-font-family);
  font-size: var(--text-body-1-font-size);
  font-weight: var(--text-body-font-weight);
  line-height: var(--text-body-1-line-height);
}
